.example-container {
  display: flex;
  flex-direction: column;
  /*padding-left: 840px;*/
  position: absolute;
  align-items: center;
  margin-top: 3%;
  margin: auto;
  width: 70%;
  /*padding-top: 50px;*/
  border: 2px solid #24292e;
  border-radius: 10px;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;


}

.example-container > * {
  width: 25%;
}
