
<div class="example-container">
  <form (ngSubmit)="onSubmit()" [formGroup]="signupform" method="post">
    <mat-form-field>
      <input matInput placeholder="Email ID" formControlName="emailid" required>
      <mat-error>{{validateEmailId()}}</mat-error>
    </mat-form-field>
  <br>
    <mat-form-field>
      <input matInput placeholder="User Name" formControlName="username" required>
      <mat-error>{{validateUserName()}}</mat-error>
    </mat-form-field>
    <br>
    <br>
    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password" required>
      <mat-error>{{validatePassword()}}</mat-error>
    </mat-form-field>
    <br>
    <br>
    <br>
    <button mat-button style="background-color: #888888" >Submit</button>
  </form>
</div>


